.unlist{
  background: linear-gradient(#5173db, #ab43b3);
  padding: 25px;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0 0 10px #000;
}
.unlist__header{
  text-align: center;
}

.unlist__inline{
  font-size: 12px;
  font-family:  Calibri;
  font-style: italic;
  border-left: 1px solid #000;
  /* border-right: 1px solid #000; */
  padding-left: 20px;
  padding-right: 20px;  
}

.unlist__inline-1{
  border: 0px solid #000;
}

li{
  display: inline-block
}

.unlist__button{
  font-size: 14px;
  text-align: center;
  font-family:  Calibri;
  font-style: italic;
  color: #ffffff;
  width: 120px;
  height: 25px;
  padding: 18px 25px;
  background-color: #474dfa;
  border-radius: 5px;
  box-shadow: 0 0 5px #000;
  /* padding-left: 100px; */
  /* box-sizing: border-box; */
  margin-left: 100px;
}
a{
  color: #ffffff;
  text-decoration: none;
}

.bodys{
  width: 1000px;
  height: 800px;
  background-image: url("../") 0 0 / cover;
}