:root {
  font-family: 'Inter', sans-serif;
  color: #000;
  font-weight: 400;
  --text-color-btn: #fff;
  --bg-color-btn: #f50e30;
  --text-color-two: #fa002c;
}

/* =======================<<<GLOBAL>>>======================== */
/* =======================<<<GLOBAL>>>======================== */
/* =======================<<<GLOBAL>>>======================== */
.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.main__hero {
  padding: 110px 0;
}

.main__card {
  padding: 100px 0 120px;
}

.main__about {}

.main__services {
  padding: 100px 0;
}

.main__services {
  padding: 100px 0;
}

.main__banner {
  padding: 100px 0;
}

.main__review {
  padding: 100px 0;
}

.main__process {
  padding: 100px 0;
}

.main__warranty {
  padding: 100px 0;
}

.button {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  line-height: 56px;
  padding: 0 40px;
  border-radius: 8px;
  color: var(--text-color-btn);
  background-color: var(--bg-color-btn);
  transition: all ease-in-out .5s;
  white-space: nowrap;
}

.button:hover {
  color: #000;
  background-color: #fff;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.48);
}

.heading {}

.heading__title {
  font-size: 44px;
  font-weight: 800;
  line-height: 54px;
}

.heading__subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 20px;
}

.heading__center {
  text-align: center;
}

.logo {}

/* ==========================<<<HEADER>>>======================== */
/* ==========================<<<HEADER>>>======================== */
/* ==========================<<<HEADER>>>======================== */

.header {}

.header__inner {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.header__logo {}

.header__nav {
  margin: 0 auto;
}

.header__nav-list {
  display: flex;
  letter-spacing: 0.32px;
}

.header__nav-item:not(:last-child) {
  margin-right: 40px;
}

.header__nav-item {
  font-weight: 500;
  transition: all .5s;
}

.header__nav-item:hover {
  color: var(--text-color-two);
}

.header__nav-link {}

.header__contact {
  display: flex;
  align-items: center;
}

.header__social-list {
  display: flex;
  margin-right: 30px;
}

.header__social-item:not(:last-child) {
  margin-right: 12px;
}

.header__social-item path,
.header__social-item circle {
  transition: all .5s;
}

.header__social-item:hover:not(:last-child) path,
.header__social-item:hover:last-child circle {
  fill: var(--text-color-two)
}

.header__social-link {}

.header__contact-tel {}

.header__contact-link {
  display: block;
  margin-bottom: 5px;
  transition: all .5s;
}

.header__contact-link:hover {
  color: var(--text-color-two);
}

/* ==========================<<<MAIN>>>=========================== */
/* ==========================<<<MAIN>>>=========================== */
/* ==========================<<<MAIN>>>=========================== */

/* ====================<<<HERO-SECTION>>>=================== */
/* ====================<<<HERO-SECTION>>>=================== */
/* ====================<<<HERO-SECTION>>>=================== */
.hero {
  /* min-height: 80vh; */
}

.hero__inner {
  display: flex;
}

.hero__content {
  max-width: 570px;
}

.hero__title {
  font-size: 52px;
  font-weight: 900;
  line-height: 62px;
  margin-bottom: 20px;
}

.hero__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 60px;
}

.hero__button {
  display: inline-block;
  padding: 0 55px;
  font-size: 24px;
  font-weight: 700;
  line-height: 64px;
}

.hero__image-box {
  margin: 0 -120px 0 15px;
}

.hero__image-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ==========================<<<CARD>>>=========================== */
/* ==========================<<<CARD>>>=========================== */
/* ==========================<<<CARD>>>=========================== */

.card {
  background-color: #F4F6F8;
}

.card__inner {}

.card__heading {
  max-width: 1015px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.card__button {
  margin-top: 30px;
}

.card__list {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  gap: 0 25px;
}

.card__item {
  background-color: #fff;
  padding: 24px 32px;
  border-radius: 20px;
  transition: all .5s;
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.48);
}

.card__key img {
  margin-top: -20px;
}

.card__auto img {
  margin-top: -45px;
}

.card__money img {
  margin-top: -60px;
}

.card__item-inner {}

.card__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 25px;
}

.card__text {
  color: rgba(0, 0, 0, 0.80);
  font-weight: 400;
  line-height: 28px;
  max-width: 300px;
}

/* ==========================<<<ABOUT>>>=========================== */
/* ==========================<<<ABOUT>>>=========================== */
/* ==========================<<<ABOUT>>>=========================== */

.about {}

.about__inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about__image-box {
  margin-left: -300px;
}

.about__image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__content {
  margin-left: 20px;
  max-width: 525px;
}

.about__heading {
  margin-bottom: 24px;
}

.about__heading h2 {
  font-weight: 900;
  margin-bottom: 12px;
}

.about__heading p {
  margin: 0;
}

.about__info-list {
  margin-bottom: 24px;
}

.about__info-item {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.about__info-item:not(:last-child) {
  margin-bottom: 14px;
}

.about__info-item span {
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  margin-right: 24px;
}

.info__car span {
  background: var(--bg-color-btn) url('../images/icons/our-car.svg') no-repeat center / 60%;
}

.info__reward span {
  background: var(--bg-color-btn) url('../images/icons/our-reward.svg') no-repeat center / 70%;
}

.info__logist span {
  background: var(--bg-color-btn) url('../images/icons/our-logist.svg') no-repeat center / 70%;
}

.about__text {
  padding: 12px 32px 12px 20px;
  border-radius: 10px;
  border: 3px solid #FED9DF;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 32px;
  max-width: 90%;
}

.about__button {}

/* ==========================<<<SERVICES>>>=========================== */
/* ==========================<<<SERVICES>>>=========================== */
/* ==========================<<<SERVICES>>>=========================== */


.services {
  background-color: #F4F6F8;
}

.services__inner {}

.services__heading {
  margin-bottom: 30px;
}

.services__slider-wrapper {
  position: relative;
  margin: 0 -12px;
}

.services__slider {}

.slick-slider .slick-list {
  padding: 10px 0;
}

.services__slider-item {
  padding: 0 12px;
  background-color: #F4F6F8;
}

.services__slider-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 720px;
  border-radius: 20px;
  padding: 20px 24px;
  background-color: #fff;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.48);
}

.services__image-box {
  height: 260px;
  overflow: hidden;
  border-radius: 12px;
}

.services__image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 16px;
}

.services__rows {
  margin-bottom: 24px;
}

.services__row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.services__row:not(:last-child),
.services__price-row:not(:last-child) {
  margin-bottom: 16px;
}

.services__name {
  color: rgba(0, 0, 0, 0.50);
  line-height: 20px;
  white-space: nowrap;
}

.services__indent {
  flex-grow: 1;
  border-bottom: 1px rgba(0, 0, 0, 0.2) dashed;
}

.services__value {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  white-space: nowrap;
}

.services__prices {}

.services__price-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.services__text-name {
  max-width: 170px;
  line-height: 20px;
}

.services__price-name {
  font-size: 24px;
  line-height: 24px;
}

.services__price-name span {
  color: var(--text-color-two);
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
}

.services__button {
  text-align: center;
}

.services__arrows {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
}

.services__arrows path,
.services__arrows circle {
  transition: all .5s;
}

.services__arrows:hover path {
  stroke: #000;
}

.services__arrows:hover circle {
  fill: rgba(0, 0, 0, 0.2);
}

.services__slider-wrapper .services__arrow-prev {
  left: -45px;
}

.services__slider-wrapper .services__arrow-next {
  right: -45px;
}

.services__dots .slick-dots {
  display: none;
  align-items: center;
  justify-content: center;
}

.services__dots li:not(:last-child) {
  margin-right: 8px;
}

.services__dots button {
  font-size: 0;
  background-color: transparent;
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
}

.services__dots .slick-active button::before {
  background-color: var(--bg-color-btn);
  transition: all .5s;
}

.services__dots button::before {
  content: "";
  height: 4px;
  width: 100%;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.10);
}

/* ==========================<<<BANNER>>>=========================== */
/* ==========================<<<BANNER>>>=========================== */
/* ==========================<<<BANNER>>>=========================== */

.banner {}

.banner__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.banner__content {
  margin-right: 30px;
}

.banner__heading {
  margin-bottom: 30px;
}

.banner__heading h2 {
  max-width: 600px;
}

.banner__heading p {
  max-width: 540px;
}

.banner__heading span {
  color: var(--text-color-two);
}

.banner__image-box {
  border-radius: 12px;
  overflow: hidden;
}

.banner__image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ==========================<<<BANNER>>>=========================== */
/* ==========================<<<BANNER>>>=========================== */
/* ==========================<<<BANNER>>>=========================== */


.review {
  background-color: #F4F6F8;
}

.review__inner {}

.review__slider-wrapper {
  position: relative;
  margin: 0 -100px;
}

.review__slider {}

.review__slide {
  padding: 12px;
}

.review__video-box {
  border-radius: 20px;
  overflow: hidden;
}

.review__video-box iframe {
  width: 100%;
}

.slick-slide .review__video-desc {
  display: none;
}

.slick-center .review__video-desc {
  display: block;
}

.review__video-desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.review__video-desc span:first-child {
  font-weight: 900;
}

.review__video-desc span:last-child {
  font-weight: 900;
  color: var(--text-color-two);
}

.review__dots {}

.review__block-tg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}

.review__image-box {
  border-radius: 20px;
  overflow: hidden;
}

.review__image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review__content {
  max-width: 520px;
  margin-left: 30px;
}

.review__heading {
  margin-bottom: 40px;
}

.review__heading a {
  color: var(--text-color-two);
  transition: all ease-in-out 1s;
}

.review__heading:hover a {
  color: #fff;
  background-color: #fa002c;
  border-radius: 10px;
  padding: 0 5px;
  transition: all ease-in-out .5s;
}

.review__button {}

.review__arrows {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
}

.review__arrows path,
.review__arrows circle {
  transition: all .5s;
}

.review__arrows:hover path {
  stroke: #000;
}

.review__arrows:hover circle {
  fill: rgba(0, 0, 0, 0.2);
}

.review__slider-wrapper .review__arrow-prev {
  left: -45px;
}

.review__slider-wrapper .review__arrow-next {
  right: -45px;
}

.review__dots .slick-dots {
  display: none;
  align-items: center;
  justify-content: center;
}

.review__dots li:not(:last-child) {
  margin-right: 8px;
}

.review__dots button {
  font-size: 0;
  background-color: transparent;
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
}

.review__dots .slick-active button::before {
  background-color: var(--bg-color-btn);
  transition: all .5s;
}

.review__dots button::before {
  content: "";
  height: 4px;
  width: 100%;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.10);
}

/* ==========================<<<PROCESS>>>=========================== */
/* ==========================<<<PROCESS>>>=========================== */
/* ==========================<<<PROCESS>>>=========================== */

.process {}

.process__inner {}

.process__inner ol {
  list-style: none;
}

.process__heading {
  margin-bottom: 40px;
}

.process__acc {}

.process__line div {
  height: 1px;
  background: rgba(0, 0, 0, 0.30);
}

.process__acc-item {}

.process__acc-link {}

.process__acc-head {
  display: flex;
  align-items: center;
  padding: 32px 0 40px;
}

.process__acc-head span {
  color: var(--text-color-two);
  font-size: 80px;
  font-weight: 700;
  line-height: 88px;
  margin-left: 110px;
}

.process__acc-head h3 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  margin-left: 122px;
}

.process__acc-head svg {
  margin-left: auto;
  transition: all .5s;
}

.process__acc-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.process__acc-row {
  display: flex;
  justify-content: space-between;
  min-width: 950px;
  margin-bottom: 30px;
}


.process__acc-row span {
  display: block;
  width: 270px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.process__acc-row p {
  max-width: 520px;
  color: rgba(0, 0, 0, 0.80);
  font-size: 18px;
  line-height: 28px;
}

.process__acc-row a {
  color: var(--text-color-two);
  display: flex;
  justify-content: space-between;
  max-width: 270px;
}

.row__contract {
  color: var(--text-color-two);
}

.process__acc-link--active .process__acc-head svg {
  transform: rotate(180deg);
}

/* =======================<<<WARRANTY>>>======================== */
/* =======================<<<WARRANTY>>>======================== */
/* =======================<<<WARRANTY>>>======================== */


.warranty {
  background: url("../images/image/image-warranty.jpg") no-repeat center / cover;
}

.warranty__inner {}

.warranty__top-block {
  margin-bottom: 100px;
}

.warranty__heading {
  margin-bottom: 40px;
}

.warranty__top-grid {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  gap: 24px;
  margin-bottom: 32px;
}

.warranty__top-item {
  display: flex;
  align-items: center;
  padding: 40px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.08);
}

.item__height {
  font-size: 22px;
  padding: 20px 20px 20px 40px;
}

.warranty__top-content {
  display: flex;
  align-items: center;
}

.warranty__top-item span {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin-left: 20px;
}

.warranty__contract {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.warranty__contract p {
  font-size: 24px;
  line-height: 32px;
  max-width: 700px;
}

.warranty__contract a {
  display: flex;
  align-items: center;
  min-width: 295px;
  justify-content: space-between;
  color: var(--text-color-two);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.warranty__bottom-block {}

.warranty__bottom-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.warranty__bot-item {
  padding: 40px;
  background-color: #fff;
  border-radius: 20px;
  min-height: 270px;
}

.item__long {
  max-width: 735px;
}

.item__little {
  max-width: 520px;
}

.warranty__item-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 20px;
}

.warranty__item-text {
  color: rgba(0, 0, 0, 0.80);
  font-size: 20px;
  line-height: 32px;
}