:root {
  font-family: 'Inter', sans-serif;
  color: #000;
  font-weight: 400;
  --text-color-btn: #fff;
  --bg-color-btn: #f50e30;
  --text-color-two: #fa002c;
}

/* =======================<<<GLOBAL>>>======================== */
/* =======================<<<GLOBAL>>>======================== */
/* =======================<<<GLOBAL>>>======================== */
.wrapper {}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.main__about {}

.main__hero,
.main__services,
.main__banner,
.main__review,
.main__process,
.main__warranty,
.main__compare,
.main__more,
.main__team,
.main__questions,
.main__calculate,
.main__contact {
  padding: 110px 0;
}

.main__card {
  padding: 100px 0 120px;
}

.button {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  line-height: 56px;
  padding: 0 40px;
  border-radius: 8px;
  color: var(--text-color-btn);
  background-color: var(--bg-color-btn);
  transition: all ease-in-out .5s;
  white-space: nowrap;
}

.button:hover {
  color: #000;
  background-color: #fff;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.48);
}

.heading {}

.heading__title {
  font-size: 44px;
  font-weight: 800;
  line-height: 54px;
}

.heading__subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 20px;
}

.heading__center {
  text-align: center;
}

.logo {}

/* ==========================<<<HEADER>>>======================== */
/* ==========================<<<HEADER>>>======================== */
/* ==========================<<<HEADER>>>======================== */

.header {}

.header__inner {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.header__logo {}

.header__nav {
  margin: 0 auto;
}

.header__nav-list {
  display: flex;
  letter-spacing: 0.32px;
}

.header__nav-item:not(:last-child) {
  margin-right: 40px;
}

.header__nav-item {
  font-weight: 500;
  transition: all .5s;
}

.header__nav-item:hover {
  color: var(--text-color-two);
}

.header__nav-link {}

.header__contact {
  display: flex;
  align-items: center;
}

.header__social-list {
  display: flex;
  margin-right: 30px;
}

.header__social-item:not(:last-child) {
  margin-right: 12px;
}

.header__social-item path,
.header__social-item circle {
  transition: all .5s;
}

.header__social-item:hover:not(:last-child) path,
.header__social-item:hover:last-child circle {
  fill: var(--text-color-two)
}

.header__social-link {}

.header__contact-tel {}

.header__contact-link {
  display: block;
  margin-bottom: 5px;
  transition: all .5s;
}

.header__contact-link:hover {
  color: var(--text-color-two);
}

/* ==========================<<<MAIN>>>=========================== */
/* ==========================<<<MAIN>>>=========================== */
/* ==========================<<<MAIN>>>=========================== */

/* ====================<<<HERO-SECTION>>>=================== */
/* ====================<<<HERO-SECTION>>>=================== */
/* ====================<<<HERO-SECTION>>>=================== */
.hero {}

.hero__inner {
  display: flex;
}

.hero__content {
  max-width: 570px;
}

.hero__title {
  font-size: 52px;
  font-weight: 900;
  line-height: 62px;
  margin-bottom: 20px;
}

.hero__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 60px;
}

.hero__button {
  display: inline-block;
  padding: 0 55px;
  font-size: 24px;
  font-weight: 700;
  line-height: 64px;
}

.hero__image-box {
  margin: 0 -120px 0 15px;
}

.hero__image-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ==========================<<<CARD>>>=========================== */
/* ==========================<<<CARD>>>=========================== */
/* ==========================<<<CARD>>>=========================== */

.card {
  background-color: #F4F6F8;
}

.card__inner {}

.card__heading {
  max-width: 1015px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.card__button {
  margin-top: 30px;
}

.card__list {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  gap: 0 25px;
}

.card__item {
  background-color: #fff;
  padding: 24px 32px;
  border-radius: 20px;
  transition: all .5s;
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.48);
}

.card__key,
.card__money,
.card__auto {
  float: right;
}

.card__money {
  margin-top: -25px;
}

.card__item-inner {}

.card__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 25px;
}

.card__text {
  color: rgba(0, 0, 0, 0.80);
  font-weight: 400;
  line-height: 28px;
}

/* ==========================<<<ABOUT>>>=========================== */
/* ==========================<<<ABOUT>>>=========================== */
/* ==========================<<<ABOUT>>>=========================== */

.about {}

.about__inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about__image-box {
  margin-left: -300px;
}

.about__image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__content {
  margin-left: 20px;
  max-width: 525px;
}

.about__heading {
  margin-bottom: 24px;
}

.about__heading h2 {
  font-weight: 900;
  margin-bottom: 12px;
}

.about__heading p {
  margin: 0;
}

.about__info-list {
  margin-bottom: 24px;
}

.about__info-item {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.about__info-item:not(:last-child) {
  margin-bottom: 14px;
}

.about__info-item span {
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  margin-right: 24px;
}

.info__car span {
  background: var(--bg-color-btn) url('../images/icons/our-car.svg') no-repeat center / 60%;
}

.info__reward span {
  background: var(--bg-color-btn) url('../images/icons/our-reward.svg') no-repeat center / 70%;
}

.info__logist span {
  background: var(--bg-color-btn) url('../images/icons/our-logist.svg') no-repeat center / 70%;
}

.about__text {
  padding: 12px 32px 12px 20px;
  border-radius: 10px;
  border: 3px solid #FED9DF;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 32px;
  max-width: 90%;
}

.about__button {}

/* ==========================<<<SERVICES>>>=========================== */
/* ==========================<<<SERVICES>>>=========================== */
/* ==========================<<<SERVICES>>>=========================== */


.services {
  background-color: #F4F6F8;
}

.services__inner {}

.services__heading {
  margin-bottom: 30px;
}

.services__slider-wrapper {
  position: relative;
  margin: 0 -12px;
}

.services__slider {}

.slick-slider .slick-list {
  padding: 10px 0;
}

.services__slider-item {
  padding: 0 12px;
  background-color: #F4F6F8;
}

.services__slider-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 720px;
  border-radius: 20px;
  padding: 20px 24px;
  background-color: #fff;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.48);
  transition: all .5s;
}

.services__slider-inner:hover {
  box-shadow: 0px 2px 10px 5px rgba(227, 81, 81, 0.23);
}

.services__image-box {
  height: 260px;
  overflow: hidden;
  border-radius: 12px;
}

.services__image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 16px;
}

.services__rows {
  margin-bottom: 24px;
}

.services__row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.services__row:not(:last-child),
.services__price-row:not(:last-child) {
  margin-bottom: 16px;
}

.services__name {
  color: rgba(0, 0, 0, 0.50);
  line-height: 20px;
  white-space: nowrap;
}

.services__indent {
  flex-grow: 1;
  border-bottom: 1px rgba(0, 0, 0, 0.2) dashed;
}

.services__value {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  white-space: nowrap;
}

.services__prices {}

.services__price-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.services__text-name {
  max-width: 170px;
  line-height: 20px;
}

.services__price-name {
  font-size: 24px;
  line-height: 24px;
}

.services__price-name span {
  color: var(--text-color-two);
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
}

.services__button {
  text-align: center;
}

.services__arrows {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
}

.services__arrows path,
.services__arrows circle {
  transition: all .5s;
}

.services__arrows:hover path {
  stroke: #000;
}

.services__arrows:hover circle {
  fill: rgba(0, 0, 0, 0.2);
}

.services__arrow-prev {
  left: -45px;
}

.services__arrow-next {
  right: -45px;
}

.services__dots .slick-dots {
  display: none;
  align-items: center;
  justify-content: center;
}

.services__dots li:not(:last-child) {
  margin-right: 8px;
}

.services__dots button {
  font-size: 0;
  background-color: transparent;
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
}

.services__dots .slick-active button::before {
  background-color: var(--bg-color-btn);
  transition: all .5s;
}

.services__dots button::before {
  content: "";
  height: 4px;
  width: 100%;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.10);
}

/* ==========================<<<BANNER>>>=========================== */
/* ==========================<<<BANNER>>>=========================== */
/* ==========================<<<BANNER>>>=========================== */

.banner {}

.banner__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.banner__content {
  margin-right: 30px;
}

.banner__heading {
  margin-bottom: 30px;
}

.banner__heading h2 {
  max-width: 600px;
}

.banner__heading p {
  max-width: 540px;
}

.banner__heading span {
  color: var(--text-color-two);
}

.banner__image-box {
  border-radius: 12px;
  overflow: hidden;
}

.banner__image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ==========================<<<REVIEW>>>=========================== */
/* ==========================<<<REVIEW>>>=========================== */
/* ==========================<<<REVIEW>>>=========================== */


.review {
  background-color: #F4F6F8;
}

.review__inner {}

.review__slider-wrapper {
  position: relative;
  margin: 0 -100px;
}

.review__slider {}

.review__slide {
  padding: 12px;
}

.review__video-box {
  border-radius: 20px;
  overflow: hidden;
}

.review__video-box iframe {
  width: 100%;
}

.slick-slide .review__video-desc {
  display: none;
}

.slick-center .review__video-desc {
  display: block;
}

.review__video-desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.review__video-desc span:first-child {
  font-weight: 900;
}

.review__video-desc span:last-child {
  font-weight: 900;
  color: var(--text-color-two);
}

.review__block-tg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}

.review__image-box {
  border-radius: 20px;
  overflow: hidden;
}

.review__image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review__content {
  max-width: 520px;
  margin-left: 30px;
}

.review__heading {
  margin-bottom: 40px;
}

.review__heading a {
  color: var(--text-color-two);
  transition: all ease-in-out 1s;
}

.review__heading:hover a {
  color: #fff;
  background-color: #fa002c;
  border-radius: 10px;
  padding: 0 5px;
  transition: all ease-in-out .5s;
}

.review__button {}

.review__arrows {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
}

.review__arrows path,
.review__arrows circle {
  transition: all .5s;
}

.review__arrows:hover path {
  stroke: #000;
}

.review__arrows:hover circle {
  fill: rgba(0, 0, 0, 0.2);
}

.review__arrow-prev {
  left: -30px;
}

.review__arrow-next {
  right: -30px;
}

.review__dots .slick-dots {
  display: none;
  align-items: center;
  justify-content: center;
}

.review__dots li:not(:last-child) {
  margin-right: 8px;
}

.review__dots button {
  font-size: 0;
  background-color: transparent;
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
}

.review__dots .slick-active button::before {
  background-color: var(--bg-color-btn);
  transition: all .5s;
}

.review__dots button::before {
  content: "";
  height: 4px;
  width: 100%;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.10);
}

/* ==========================<<<PROCESS>>>=========================== */
/* ==========================<<<PROCESS>>>=========================== */
/* ==========================<<<PROCESS>>>=========================== */

.process {}

.process__inner {}

.process__inner ol {
  list-style: none;
}

.process__heading {
  margin-bottom: 40px;
}

.process__acc {}

.process__line div {
  height: 1px;
  background: rgba(0, 0, 0, 0.30);
}

.process__acc-item {}

.process__acc-link {}

.process__acc-head {
  display: flex;
  align-items: center;
  padding: 32px 0 40px;
}

.process__acc-head span {
  color: var(--text-color-two);
  font-size: 80px;
  font-weight: 700;
  line-height: 88px;
  margin-left: 110px;
}

.process__acc-head h3 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  margin-left: 122px;
}

.process__acc-head svg {
  margin-left: auto;
  transition: all .5s;
}

.process__acc-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.process__acc-row {
  display: flex;
  justify-content: space-between;
  min-width: 950px;
  margin-bottom: 30px;
}


.process__acc-row span {
  display: block;
  width: 270px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.process__acc-row p {
  max-width: 520px;
  color: rgba(0, 0, 0, 0.80);
  font-size: 18px;
  line-height: 28px;
}

.process__acc-row a {
  color: var(--text-color-two);
  display: flex;
  justify-content: space-between;
  max-width: 270px;
}

.row__contract {
  color: var(--text-color-two);
}

.process__acc-link--active .process__acc-head svg {
  transform: rotate(180deg);
}

/* =======================<<<WARRANTY>>>======================== */
/* =======================<<<WARRANTY>>>======================== */
/* =======================<<<WARRANTY>>>======================== */


.warranty {
  background: url("../images/image/image-warranty.jpg") no-repeat center / cover;
}

.warranty__inner {}

.warranty__top-block {
  margin-bottom: 100px;
}

.warranty__heading {
  margin-bottom: 40px;
}

.warranty__top-grid {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  gap: 24px;
  margin-bottom: 32px;
}

.warranty__top-item {
  display: flex;
  align-items: center;
  padding: 40px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.08);
}

.item__height {
  font-size: 22px;
  padding: 20px 20px 20px 40px;
}

.warranty__top-content {
  display: flex;
  align-items: center;
}

.warranty__top-item span {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin-left: 20px;
  max-width: 250px;
}

.warranty__contract {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.warranty__contract p {
  font-size: 24px;
  line-height: 32px;
  max-width: 700px;
}

.warranty__contract a {
  display: flex;
  align-items: center;
  min-width: 295px;
  justify-content: space-between;
  color: var(--text-color-two);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.warranty__contract path,
.warranty__contract a:hover path,
.warranty__contract a:hover,
.warranty__contract a {
  transition: all .5s;
}

.warranty__contract a:hover path {
  stroke: #000;
}

.warranty__contract a:hover {
  color: #000;
}

.warranty__bottom-block {}

.warranty__bottom-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.warranty__bot-item {
  padding: 40px;
  background-color: #fff;
  border-radius: 20px;
  min-height: 270px;
}

.item__long {
  max-width: 735px;
}

.item__little {
  max-width: 520px;
}

.warranty__item-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 20px;
}

.warranty__item-text {
  color: rgba(0, 0, 0, 0.80);
  font-size: 20px;
  line-height: 32px;
}

/* =======================<<<COMPARE>>>======================== */
/* =======================<<<COMPARE>>>======================== */
/* =======================<<<COMPARE>>>======================== */

.compare {
  background-color: #F4F6F8;
}

.compare__inner {}

.compare__heading {
  margin-bottom: 110px;
}

.compare__slider-wrapper {
  position: relative;
}

.compare__slider {}

.compare__slide {}

.compare__slide-inner {
  display: flex;
  position: relative;
  justify-content: center;
  padding-bottom: 100px;
  margin-bottom: 40px;
}

.compare__slide-inner span {
  color: #C0C0C0;
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
  text-transform: uppercase;
  margin: 0 30px;
  display: flex;
  align-items: center;
}

.compare__slide-col {}

.compare__col-title {
  font-size: 26px;
  font-weight: 800;
  line-height: 54px;
  text-align: center;
  margin-bottom: 16px;
}

.compare__col-cont {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px 24px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.48);
  transition: all .5s;
}

.compare__col-cont:hover {
  box-shadow: 0px 2px 34px 7px rgba(227, 81, 81, 0.23);
}

.compare__col-inner {}

.compare__image-box {
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 24px;
}

.compare__image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.compare__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.col-avito .compare__description {
  opacity: .66;
}

.compare__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 16px;
}

.compare__rows {
  margin-bottom: 24px;
}

.compare__row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.compare__row:not(:last-child),
.compare__price-row:not(:last-child) {
  margin-bottom: 16px;
}

.compare__name {
  color: rgba(0, 0, 0, 0.50);
  line-height: 20px;
  white-space: nowrap;
}

.compare__indent {
  flex-grow: 1;
  border-bottom: 1px rgba(0, 0, 0, 0.2) dashed;
}

.compare__value {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  white-space: nowrap;
}

.compare__price-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.compare__text-name {
  max-width: 170px;
  line-height: 20px;
}

.compare__price-name {
  font-size: 24px;
  line-height: 24px;
}

.compare__price-name span {
  color: var(--text-color-two);
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
}

.compare__slide-button {
  position: absolute;
  bottom: 0;
}

.compare__arrows {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
}

.compare__arrows path,
.compare__arrows circle {
  transition: all .5s;
}

.compare__arrows:hover path {
  stroke: #000;
}

.compare__arrows:hover circle {
  fill: rgba(0, 0, 0, 0.2);
}

.compare__arrow-prev {
  left: -40px;
}

.compare__arrow-next {
  right: -40px;
}


.compare__dots {
  margin-bottom: 100px;
}

.compare__foot {
  display: flex;
  align-items: center;
  gap: 0 24px;
}

.compare__block {
  background-color: #fff;
  border-radius: 20px;
  padding: 50px 80px;
  max-height: 515px;
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.48);
}

.compare__heading-foot {
  max-width: 470px;
  margin-bottom: 24px;
}

.compare__block-list {
  margin-top: 40px;
  position: relative;
}

.compare__block-list li {
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  padding-left: 52px;
}

.compare__list-item:not(:last-child) {
  margin-bottom: 14px;
}

.compare__list-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
}

.item-airbag {
  background: url("../images/icons/icon-airbag.svg") no-repeat;
}

.item-cruize {
  background: url("../images/icons/icon-cruise-control.svg") no-repeat;
}

.item-road {
  background: url("../images/icons/icon-road.svg") no-repeat;
}

.compare__us-timeframe,
.compare__ru-timeframe {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.compare__us-timeframe span {
  color: var(--text-color-two);
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  margin-top: 16px;
}

.compare__ru-timeframe span {
  display: block;
  font-size: 24px;
  font-weight: 800;
  line-height: 28px;
  margin-top: 16px;
}

.compare__block-button {}



.compare__dots .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.compare__dots li:not(:last-child) {
  margin-right: 8px;
}

.compare__dots button {
  font-size: 0;
  background-color: transparent;
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
}

.compare__dots .slick-active button::before {
  background-color: var(--bg-color-btn);
  transition: all .5s;
}

.compare__dots button::before {
  content: "";
  height: 4px;
  width: 100%;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.10);
}

/* =======================<<<MORE>>>======================== */
/* =======================<<<MORE>>>======================== */
/* =======================<<<MORE>>>======================== */


.more {}

.more__inner {}

.more__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;
}

.more__text-content {
  margin-right: 30px;
}

.more__heading {
  max-width: 620px;
  margin-bottom: 32px;
}

.more__button {}

.more__helped {
  max-width: 410px;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  padding: 16px 30px;
  border-radius: 10px;
  border: 3px solid #fed9df;
}

.more__helped span {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  color: var(--text-color-two);
}

.more__slider-wrapper {
  position: relative;
  margin: 0 -12px 40px;
}

.more__slider {}

.more__slide {
  padding: 0 12px;
}

.more__image-box {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.48);
}

.more__image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.more__arrows {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
}

.more__arrows path,
.more__arrows circle {
  transition: all .5s;
}

.more__arrows:hover path {
  stroke: #000;
}

.more__arrows:hover circle {
  fill: rgba(0, 0, 0, 0.2);
}

.more__arrow-prev {
  left: -25px;
}

.more__arrow-next {
  right: -25px;
}

.more__dots .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.more__dots li:not(:last-child) {
  margin-right: 8px;
}

.more__dots button {
  font-size: 0;
  background-color: transparent;
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
}

.more__dots .slick-active button::before {
  background-color: var(--bg-color-btn);
  transition: all .5s;
}

.more__dots button::before {
  content: "";
  height: 4px;
  width: 100%;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.10);
}

/* =======================<<<TEAM>>>======================== */
/* =======================<<<TEAM>>>======================== */
/* =======================<<<TEAM>>>======================== */

.team {
  background-color: #F4F6F8;
}

.team__inner-up {}

.team__heading {
  margin-bottom: 40px;
}

.team__slider-wrapper {
  position: relative;
  margin: 0 -12px 40px;
}

.team-slider {}

.team__slide {
  padding: 0 12px;
  position: relative;
}

.team__slide-inner {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.48);
  transition: all .5s;
}

.team__slide-inner:hover {
  box-shadow: 0px 2px 15px 5px rgba(138, 119, 119, 0.23);
}

.team__image-box {
  border-radius: 20px;
  overflow: hidden;
  max-height: 500px;
}

.team__image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team__content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 32px;
}

.team__name {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 8px;
}

.team__position {
  color: rgba(0, 0, 0, 0.50);
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 24px;
}

.team__phone {
  color: var(--text-color-two);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}

.team__socials {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.team__social-item {
  margin-right: 14px;
}

.team__social-item path {
  transition: all .5s;
}

.team__social-item:hover path {
  fill: #fa002c;
}

.team__arrows {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
}

.team__arrows path,
.team__arrows circle {
  transition: all .5s;
}

.team__arrows:hover path {
  stroke: #000;
}

.team__arrows:hover circle {
  fill: rgba(0, 0, 0, 0.2);
}

.team__arrow-prev {
  left: -25px;
}

.team__arrow-next {
  right: -25px;
}

.team__dots {
  margin-bottom: 100px;
}

.team__dots .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team__dots li:not(:last-child) {
  margin-right: 8px;
}

.team__dots button {
  font-size: 0;
  background-color: transparent;
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
}

.team__dots .slick-active button::before {
  background-color: var(--bg-color-btn);
  transition: all .5s;
}

.team__dots button::before {
  content: "";
  height: 4px;
  width: 100%;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.10);
}

.team__inner-down {}

.team__slider-cl-wrapper {
  position: relative;
  margin: 0 -100px 40px;
}

.team__cl-slider {}

.team__cl-slide {
  padding: 12px;
}

.team__cl-video-box {
  border-radius: 20px;
  overflow: hidden;
}

.team__cl-video-box iframe {
  width: 100%;
}

.slick-slide .team__cl-video-desc {
  display: none;
}

.slick-center .team__cl-video-desc {
  display: block;
}

.team__cl-video-desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.team__cl-video-desc span:first-child {
  font-weight: 900;
}

.team__cl-video-desc span:last-child {
  font-weight: 900;
  color: var(--text-color-two);
}

.team__cl-arrows {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
}

.team__cl-arrows path,
.team__cl-arrows circle {
  transition: all .5s;
}

.team__cl-arrows:hover path {
  stroke: #000;
}

.team__cl-arrows:hover circle {
  fill: rgba(0, 0, 0, 0.2);
}

.team__cl-arrow-prev {
  left: -30px;
}

.team__cl-arrow-next {
  right: -30px;
}

.team__cl-dots .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team__cl-dots li:not(:last-child) {
  margin-right: 8px;
}

.team__cl-dots button {
  font-size: 0;
  background-color: transparent;
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
}

.team__cl-dots .slick-active button::before {
  background-color: var(--bg-color-btn);
  transition: all .5s;
}

.team__cl-dots button::before {
  content: "";
  height: 4px;
  width: 100%;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.10);
}

/* =======================<<<QUESTIONS>>>======================== */
/* =======================<<<QUESTIONS>>>======================== */
/* =======================<<<QUESTIONS>>>======================== */

.questions {}

.questions__inner {}

.questions__heading {
  margin-bottom: 40px;
}

.questions__acc {}

.questions__acc-line {
  width: 100%;
  height: 1px;
  background: #242628;
  opacity: .1;
}

.questions__acc-item {}

.questions__acc-link {
  position: relative;
}

.questions__acc-link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 20px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  transform: scale(1);
  z-index: -1;
  background-color: var(--bg-color-btn);
  transition: all .8s;
}

.questions__acc-link:hover::after {
  transform: scale(0);
}

.questions__acc-head {
  position: relative;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  padding: 16px 30px;
  margin: 14px 0;
}

.questions__acc-head::before,
.questions__acc-head::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 35px;
  width: 32px;
  height: 3px;
  border-radius: 3px;
  background-color: #fff;
  transition: all .5s;
}

.questions__acc-head:hover::before,
.questions__acc-head:hover::after {
  background-color: #000;
}

.questions__acc-head::after {
  transform: rotate(-90deg);
  transition: all .5s;
}

.questions__acc-link--active .questions__acc-head::after {
  transform: rotate(0);
}

.questions__acc-text {
  color: rgba(0, 0, 0, 0.80);
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 30px 30px;
}

/* =======================<<<CALCULATE>>>======================== */
/* =======================<<<CALCULATE>>>======================== */
/* =======================<<<CALCULATE>>>======================== */

.calculate {
  background: url("../images/image/bg-fix.jpg") no-repeat center / cover;
}

.calculate__inner {
  display: flex;
  justify-content: space-between;
}

.calculate__form-block {
  max-width: 460px;
  padding: 40px 32px;
  border-radius: 20px;
  background-color: #fff;
}

.calculate__form-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 12px;
}

.calculate__form-subtitle {
  color: rgba(0, 0, 0, 0.80);
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 20px;
}

.calculate__form-col {
  display: flex;
  flex-direction: column;
  min-height: 180px;
  justify-content: space-between;
  margin-bottom: 24px;
}

.calculate__form-input {
  font-size: 20px;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 16px 20px;
}

.calculate__form-input::placeholder {
  color: rgba(0, 0, 0, 0.20);
  font-size: 20px;
}

.calculate__form-btn {}


.calculate__checkbox-block {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.50);
  font-size: 12px;
  line-height: 16px;
  max-width: 330px;
}

.calculate__checkbox {
  position: relative;
  flex: 0 0 auto;
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.calculate__checkbox-default {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.calculate__checkbox-custom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #000;
  border-radius: 3px;
  cursor: pointer;
}

.calculate__checkbox-default:checked+.calculate__checkbox-custom {
  background: url("../images/icons/checkbox-custom.svg") 50% 50% no-repeat;
}

.calculate__social-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 24px;
}

.calculate__social-items {
  display: flex;
  align-items: center;
}

.calculate__social-item {
  line-height: 24px;
  padding: 8px 16px 8px 44px;
  border: 1px solid var(--bg-color-btn);
  border-radius: 24px;
  position: relative;
}

.calculate__social-item:not(:last-child) {
  margin-right: 12px;
}

.calculate__social-item:before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 15px;
  width: 20px;
  height: 20px;
}

.calculate__social-item:first-child::before {
  background-image: url("../images/icons/form-wapp.svg");
}

.calculate__social-item:last-child::before {
  background-image: url("../images/icons/form-tg.svg");
}

.calculate__content {
  max-width: 760px;
  padding: 40px;
  border-radius: 20px;
  background-color: #fff;
}

.calculate__heading {
  margin-bottom: 45px;
}

.calculate__list {}

.calculate__item {
  font-size: 20px;
  line-height: 28px;
  max-width: 535px;
  margin-bottom: 24px;
  padding-left: 51px;
  position: relative;
}

.calculate__item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 36px;
  height: 36px;
  background: url("../images/icons/icon-tick.svg");
}

/* =======================<<<CONTACT>>>======================== */
/* =======================<<<CONTACT>>>======================== */
/* =======================<<<CONTACT>>>======================== */

.contact {
  background-color: #F4F6F8;
}

.contact__inner {}

.contact__heading {
  margin-bottom: 56px;
}

.contact__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  max-width: 1050px;
}

.row__slim {
  max-width: 580px;
}

.contact__row-item {
  max-width: 270px;
}

.contact__item-title {
  color: rgba(0, 0, 0, 0.50);
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 20px;
}

.contact__item-desc {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.contact__list-social {
  display: flex;
}

.contact__item-social {
  margin-right: 12px;
}

.contact__link-social svg {
  transition: all .5s;
}

.contact__link-social:hover svg {
  transform: scale(1.2);
}

.contact__map {
  width: 100%;
  min-height: 320px;
  border-radius: 18px;
  overflow: hidden;
  margin-bottom: 55px;
}

.contact__req-row {
  display: flex;
}

.contact__req-item {
  color: rgba(0, 0, 0, 0.30);
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0.30);
  margin-right: 100px;
  transition: all .5s;
}

.contact__req-item:hover {
  color: rgba(0, 0, 0);
  border-bottom: 2px solid rgba(0, 0, 0);
}