.parrent {
  margin: 25px;
  border: solid 3px #000000;
  width: calc(100% - 50px);
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.child {
  width: 15%;
  height: 70%;
  background-color: #b87c7c;
}
