.block {
  width: 80vw;
  height: 70vh;
  background-image: url("../logo.jpg"), radial-gradient(#8ee798 30%, #437ad8, #444);
  background-repeat: no-repeat;
  background-position: center;
}

.block1 {
  width: 80vw;
  height: 70vh;
  background: url("../logo.jpg") no-repeat center, linear-gradient(#c5cf3e, #1e1e1e, #3c3c3c);
}