body {
  font-family: "Lato", sans-serif;
  color: #424551;
  font-weight: 700;
  line-height: 1.6;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.main__about {
  padding: 180px 0 160px;
}

.main__directions {
  padding-bottom: 180px;
}

.main__cert {
  margin-bottom: -46px;
}

.main__testimonials {
  padding-bottom: 195px;
}

.main__companies {
  padding-bottom: 195px;
}

.main__blog {
  padding: 115px 0 200px;
}

.main__info {
  padding-bottom: 180px;
}

.button {
  display: inline-block;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  color: #fff;
  font-weight: 700;
  line-height: 52px;
  padding: 0 40px;
  letter-spacing: 0.5px;
  border-radius: 4px;
  transition: all .3s;
  white-space: nowrap;
}

.button:hover {
  transform: scale(1.03);
}

.heading__subtitle {
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.heading__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}


.heading {
  color: #1E212C;
}

.heading--text-center {
  text-align: center;
}

.logo {}

/* ----------------------<<<Header-top>>>--------------------------- */
/* ----------------------<<<Header-top>>>--------------------------- */
/* ----------------------<<<Header-top>>>--------------------------- */

.header {
  height: 100vh;
  background: url("../images/decor/shapes-bg.svg") 50% 50% / cover no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, .2) 0%, rgba(247, 94, 5, .2) 100%);
  display: flex;
  flex-direction: column;
}

.header__top {}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  padding: 20px 0;
}

.header__logo {
  margin-right: 60px;
}

.header__nav {
  margin-right: auto;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  line-height: 1.6;
  margin-right: 40px;
  transition: color .3s;
}

.header__nav-item:hover {
  color: #FF3F3A;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__link-nav {}

.header__user-nav {
  display: flex;
  align-items: center;
}

.header__top-btn {
  margin-right: 36px;
}


.header__btn-box {
  position: relative;
  padding-left: 28px;

}

.header__btn-box::before {
  content: "";
  top: -2px;
  left: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  background: url("../images/icon/img-login.svg") no-repeat;
  display: block;
}

.header__btn {
  transition: color .3s;
}

.header__btn:hover {
  color: #FF3F3A;
}

/* --------------------------<<<Header-body>>>--------------------------- */
/* --------------------------<<<Header-body>>>--------------------------- */
/* --------------------------<<<Header-body>>>--------------------------- */

.header__body {
  flex-grow: 1;
}

.header__body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 0;
}

.header__content, .header__row {
  color: #1E212C;
}

.header__content {
  margin-right: 30px;
}

.header__play {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 24px;
}

.header__play svg {
  border-radius: 50%;
  margin-right: 16px;
  transition: all .3s;
}

.header__play:hover svg {
  box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.12);
}

.header__title {
  margin-bottom: 60px;
  max-width: 500px;
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 1px;
}

.button--empty {
  background-image: none;
  border-left: 2px solid #FF3F3A;
  border-right: 2px solid #F75E05;
  background-image: linear-gradient(to left, #F75E05, #FF3F3A), linear-gradient(to left, #F75E05, #FF3F3A);
  background-size: 100% 2px;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: padding-box;
}

.button--empty span {
  background: linear-gradient(to left, #FF3F3A, #F75E05);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.header__content-buttons {
  display: inline-flex;
}

.header__content-btn {
  margin-right: 24px;
}

.header__content-btn:last-child {
  margin-right: 0;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.header__row-item {
  display: flex;
  align-items: center;
  font-weight: 400;
}

.header__row-point {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 15px;
  border-radius: 50%;
  background: #FF3F3A;
}

.header__row-item>span {
  margin-right: 12px;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}

/* --------------------------<<<Main-about>>>--------------------------- */
/* --------------------------<<<Main-about>>>--------------------------- */
/* --------------------------<<<Main-about>>>--------------------------- */

.main {}

.about {}

.about__inner {}

.about__createx {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 180px;
  position: relative;
}

.about__createx::before {
  content: "";
  position: absolute;
  top: -55px;
  right: -175px;
  width: 100px;
  height: 85px;
  background: url("../images/icon/shapes-1.svg") no-repeat;
}

.about__content {
  max-width: 600px;
  margin-right: 30px;
}

.about__heading {
  margin-bottom: 48px;
}

.about__text {
  margin-bottom: 60px;
}

.about__paragraph {
  margin-bottom: 24px;
}

.about__paragraph--accent {
  color: #1E212C;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

.about__paragraph:last-child {
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.6;
  font-size: 16px;
}

.about__btn-box {
  display: flex;
}

.about__btn {
  margin-right: 24px;
}

.about__btn:last-child {
  margin-right: 0;
}

.about__image {}

.about__values {
  display: flex;
  justify-content: space-between;
}

.about__image-box {
  border-radius: 4px;
  overflow: hidden;
}

.about__image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__image-numbers {}

.about__numbers {
  align-self: center;
  margin-left: 30px;
}

.about__numbers span {
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 1px;
  color: #FF3F3A;
  margin-right: 16px;
}

.about__number {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.about__number:last-child {
  margin-bottom: 0;
}

/* --------------------------<<<Main-Directions>>>--------------------------- */
/* --------------------------<<<Main-Directions>>>--------------------------- */
/* --------------------------<<<Main-Directions>>>--------------------------- */

.directions {}

.direction__inner {
  position: relative;
}

.direction__inner::before {
  content: "";
  top: 20px;
  left: -200px;
  position: absolute;
  display: block;
  width: 136px;
  height: 115px;
  background: url("../images/decor/group-shape.svg");
}

.direction__inner::after {
  content: "";
  top: 390px;
  right: -390px;
  position: absolute;
  display: block;
  width: 242px;
  height: 242px;
  background: url("../images/decor/circles.svg");
}

.direction__heading {
  margin-bottom: 90px;
}


.direction__main {}

.direction__filter-box {
  display: flex;
  margin-bottom: 56px;
}

.direction__filter-item {
  margin-right: 45px;
}

.direction__filter-item:last-child {
  margin-right: 0;
}

.direction__filter-btn {
  font-weight: 700;
  font-size: 16px;
  background: transparent;
  border: 1px solid #9A9CA5;
  border-radius: 4px;
  padding: 6px 8px;
  line-height: 1;
  color: #9A9CA5;
}

.direction__filter-btn--active {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  padding: 6px 8px;
  line-height: 1;
  border: 1px solid #FF3F3A;
}

.direction__items {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  gap: 30px;
}

.direction__list-item {
  background: #FFFFFF;
  transition: all 1s;
}

.direction__list-item:hover {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  transition: all .5s;
}

.direction__list-item:hover .direction__list-btn {
  color: #FF3F3A;
  transition: all .5s;
}



.direction__list-link {}

.direction__image-box {
  overflow: hidden;
}

.direction__image-box img {
  width: 100%;
  height: 100%;
}

.direction__list-content {
  display: flex;
  flex-direction: column;
  border: 1px solid #E5E8ED;
  border-top: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 24px;
}

.direction__list-tag {
  align-self: flex-start;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  background: #979797;
  padding: 6px 8px;
  line-height: 1;
  border-radius: 4px;
}

.direction__list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
  margin: 20px 0;
}

.direction__list-btn {
  display: flex;
  transition: all 1s;
}

.direction__list-btn:after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 11px;
  background-image: url("../images/icon/right-arrow.svg");
}

.direction__list-item--marketing .direction__list-tag {
  background-color: #03CEA4;
}

.direction__list-item--managment .direction__list-tag {
  background-color: #5A87FC;
}

.direction__list-item--hr .direction__list-tag {
  background-color: #F89828;
}

.direction__list-item--design .direction__list-tag {
  background-color: #F52F6E;
}

.direction__list-item--development .direction__list-tag {
  background-color: #7772F1;
}

.direction__list--empty {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F4F5F7;
  border-radius: 4px;
}

.direction__list--empty span {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #424551;
  max-width: 240px;
}

/* --------------------------<<<Main-Cert>>>--------------------------- */
/* --------------------------<<<Main-Cert>>>--------------------------- */
/* --------------------------<<<Main-Cert>>>--------------------------- */


.cert {}

.cert__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.cert__inner::before {
  content: "";
  top: -20px;
  left: -170px;
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  background: url("../images/decor/shapes-arrow.svg");
}

.cert__content {
  max-width: 400px;
  margin-right: 30px;
}

.cert__heading {
  margin-bottom: 48px;
}

.cert__text {
  margin-bottom: 30px;
}

.cert__logos {
  display: flex;
}

.cert__item {
  margin-right: 40px;
}

.cert__item:last-child {
  margin-right: 0;
}

.cert__image-box {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}

/* --------------------------<<<Main-Team>>>--------------------------- */
/* --------------------------<<<Main-Team>>>--------------------------- */
/* --------------------------<<<Main-Team>>>--------------------------- */

.main__team {
  padding: 170px 0 180px;
}

.team {
  background: url(../images/decor/shapes-team-bg.svg) 240px 39px no-repeat #F4F5F7;
}

.team__inner {}

.team__heading {
  margin-bottom: 60px;
  position: relative;
}

.team__slider-arrows {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.team__slider-arrow {
  display: block;
  line-height: 0;
  border-radius: 50%;
  position: relative;
  transition: all .3s;
}

.team__slider-arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 48px;
  height: 48px;
  background-color: #FF3F3A;
  border-radius: 50%;
  z-index: -1;
  transition: all .5s;
}

.team__slider-arrow:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.team__slider-arrow path {
  transition: all .3s;
}

.team__slider-arrow:hover path {
  fill: #fff;
}

.team__slider-prev {
  margin-right: 24px;
}

.team__slider-next {}

.team__slider {}

.team__slider-inner {
  margin: 0 -15px;
}

.team__slider-item {
  padding: 0 15px;
}

.team__image-box {
  border-radius: 4px;
  margin-bottom: 16px;
  overflow: hidden;
  position: relative;
}

.team__socials {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
  transform: translateY(50%);
  transition: all .3s;
}

.team__socials:hover {
  transform: translateY(0);
}

.team__image {
  position: relative;
  height: 340px;
}

.team__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team__social-item {
  display: block;
  line-height: 0;
  margin-right: 12px;
}

.team__social-item:hover path {
  fill: #fff;
}

.team__social-item path {
  transition: all .5s;
}

.team__social-item:last-child {
  margin-right: 0;
}

.team__info {
  text-align: center;
}

.team__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 5px;
}

.team__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
}

.slick-dots {
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.slick-dots li button {
  font-size: 0;
  margin: 15px;
}

.slick-dots li button:before {
  content: url("../images/icon/dot.svg");
}

.slick-dots .slick-active {
  content: url("../images/icon/active-dot.svg");
  margin: 15px;
}


/* --------------------------<<<Main-Testimonials>>>--------------------------- */
/* --------------------------<<<Main-Testimonials>>>--------------------------- */
/* --------------------------<<<Main-Testimonials>>>--------------------------- */


.testimonials {
  position: relative;
  background: #F4F5F7;
}

.testimonials::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -55%);
  background: url("../images/decor/testi-bg.svg");
  width: 1971px;
  height: 816px;
}

.testimonials__inner {
  position: relative;
  z-index: 1;
}

.testimonials__heading {
  margin-bottom: 60px;
}

.testimonials__slider-wrapper {
  position: relative;
  padding: 0 50px;
  margin-bottom: 50px;
}

.testimonials__slider {
  max-width: 1020px;
  margin: 0 auto;
}

.testimonials__slider-item {
  border-radius: 4px;
  background: #fff;
  padding: 64px;
}

.testimonials__slider-inner {
  max-width: 810px;
  margin: 0 auto;
}

.testimonials__user-text {
  padding-left: 58px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 24px;
  position: relative;
}

.testimonials__user-text::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 28px;
  height: 20px;
  background-image: url("../images/decor/braces.svg");
}

.testimonials__user-info {
  display: flex;
  align-items: center;
  padding-left: 58px;
}

.testimonials__avatar {
  min-width: 72px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.testimonials__info {}

.testimonials__user-name {
  color: #1E212C;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 4px;
}

.testimonials__user-position {
  color: #787A80;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.testimonials__arrows {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  display: flex;
  align-items: center;
  z-index: 0;
}

.testimonials__arrows::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 48px;
  height: 48px;
  background-color: #FF3F3A;
  border-radius: 50%;
  z-index: -1;
  transition: all .5s;
}

.testimonials__arrows:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.testimonials__arrows path {
  transition: all .3s;
}

.testimonials__arrows:hover path {
  fill: #fff
}


.testimonials__prev {
  left: 0;
}

.testimonials__prev svg {
  transform: translate(-50%, 0%);
}

.testimonials__next {
  right: 0;
  justify-content: flex-end;
}

.testimonials__next svg {
  transform: translate(-150%, 0%);
}

.testimonials__dots {
  margin-top: 50px;
}

.testimonials__dots .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials__dots li {
  margin-right: 12px;
}

.testimonials__dots li:last-child {
  margin-right: 0;
}

.testimonials__dots button {
  font-size: 0;
  background-color: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}

.testimonials__dots button::before {
  content: "";
  height: 3px;
  width: 100%;
  border-radius: 3px;
  background-color: #B3B7BC;
}

.testimonials__dots .slick-active button::before {
  content: "";
  height: 3px;
  width: 100%;
  background-color: #424551;
  transition: all .5s;
}

/* --------------------------<<<Main-Companies>>>--------------------------- */
/* --------------------------<<<Main-Companies>>>--------------------------- */
/* --------------------------<<<Main-Companies>>>--------------------------- */


.companies {
  background: #F4F5F7;
}

.companies__inner {}

.companies__heading {
  margin-bottom: 60px;
}

.companies__flex {
  display: flex;
  flex-wrap: wrap;
}

.companies__flex-item {
  filter: invert(60%) blur(1px) drop-shadow(3px 3px 10px rgb(0, 0, 0));
  transition: all 10s;
  padding: 0 102px 40px 0;
}

.companies__flex-item:nth-child(6) {
  padding: 0 0 40px 0;
}

.companies__flex-item:last-child {
  padding: 0 0 40px 0;
}

.companies__flex-item:hover {
  filter: invert(0%) blur(0);
  transition: all .5s;
}

.companies__flex-link {
  display: block;
}

/* --------------------------<<<Main-Blog>>>--------------------------- */
/* --------------------------<<<Main-Blog>>>--------------------------- */
/* --------------------------<<<Main-Blog>>>--------------------------- */


.blog {}

.blog__inner {}

.blog__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
}

.blog__heading {
  margin-right: 30px;
}

.blog__btn {}

.blog__list {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  gap: 30px;
}

.blog__item {
  /* width: 390px; */
  /* padding: 0 15px; */
}

.blog__item .blog__item-inner {
  height: 100%;
}


.blog__item-link {
  transition: all .5s;
}


.blog__item-inner {
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.blog__image-box {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 16px;
  height: 300px;
}

.blog__image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog__image-box span {
  content: "";
  display: flex;
  align-items: center;
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 1px 8px;
  border-radius: 4px;
  background-color: #fff;
}

.blog__image-box span::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.blog__item--podcast .blog__image-box span::before {
  background: url("../images/icon/podcast.svg");
}

.blog__item--video .blog__image-box span::before {
  background: url("../images/icon/video.svg");
}

.blog__item--article .blog__image-box span::before {
  background: url("../images/icon/article.svg");
}

.blog__content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.blog__info {
  display: flex;
  align-items: center;
  margin: 0 -12px;
  margin-bottom: 8px;
}

.blog__info-el {
  padding: 0 12px;
  position: relative;
  color: #787A80;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.blog__info-el::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background-color: #787A80;
}

.blog__info-el:last-child::after {
  content: none;
}

.blog__info-date {
  display: flex;
  align-items: center;
}

.blog__info-date::before {
  content: "";
  display: block;
  width: 16px;
  height: 17px;
  margin-right: 8px;
  background: url("../images/icon/calendar.svg") 0 0 / 100% no-repeat;
}

.blog__info-time {
  display: flex;
  align-items: center;
}

.blog__info-time::before {
  content: "";
  display: block;
  width: 16px;
  height: 17px;
  margin-right: 8px;
  background: url("../images/icon/clock.svg") 0 0 / 100% no-repeat;
}

.blog__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 8px;
}

.blog__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 16px;
  color: #424551;
}

.blog__item-btn {
  margin-top: auto;
  display: flex;
  align-items: center;
  transition: all 1.5s;
}

.blog__item:hover .blog__item-btn {
  color: #FF3F3A;
  transition: all .5s;
}

.blog__item-btn::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 8px;
  background: url("../images/icon/right-arrow-red.svg") 0 0 / 100% no-repeat;
}

/* --------------------------<<<Main-Info>>>--------------------------- */
/* --------------------------<<<Main-Info>>>--------------------------- */
/* --------------------------<<<Main-Info>>>--------------------------- */


.info {}

.info__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.info__content {
  margin-right: 30px;
}

.info__heading {
  margin-bottom: 40px;
}

.info__contacts {
  padding-left: 36px;
  margin-bottom: 48px;
}

.info__cont-item:not(:last-child) {
  margin-bottom: 24px;
}

.info__cont-head {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #787A80;
  position: relative;
}

.info__cont-head::before {
  content: "";
  position: absolute;
  top: 0;
  left: -36px;
  width: 24px;
  height: 24px;
}

.info__cont-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  transition: all 2s;
}

.info__cont-link:hover {
  color: #FF3F3A;
  transition: all .5s;

}

.item--email .info__cont-head::before {
  background: url("../images/icon/chat.svg");
}

.item--tel .info__cont-head::before {
  background: url("../images/icon/iphone.svg");
}

.item--address .info__cont-head::before {
  background: url("../images/icon/outline.svg");
}

.info__address {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.info__follow {}

.info__follow-top {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.info__socials {
  display: flex;
  line-height: 0;
}

.info__socials-item:not(:last-child) {
  margin-right: 32px;
}

.info__socials-link {
  display: block;
}
.info__socials-link path {
  transition: all .5s;
}

.info__socials-link:hover path {
  fill: #022bc2;
}
.social--yt .info__socials-link:hover path {
  fill: #c20202;
}

.info__map {
  width: 100%;
  max-width: 702px;
  height: 400px;
}
.info__map iframe {
  border-radius: 4px;
}