body {
  font-family: "Lato", sans-serif;
  color: #424551;
  font-weight: 700;
  line-height: 1.6;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background: rgba(31, 31, 31, 0.75);
  visibility: hidden;
  opacity: 0;
  transition: all .5s;
}

.overlay--show {
  visibility: visible;
  opacity: 1;
}

.burger {
  display: none;
}

.main__about {
  padding: 180px 0 100px;
}

.main__direction {
  padding: 100px 0 100px;
}

.main__cert {
  margin-bottom: -46px;
}

.main__team {
  padding: 170px 0 180px;
}

.main__testimonials {
  padding-bottom: 195px;
}

.main__companies {
  padding-bottom: 177px;
}

.main__program {
  padding: 115px 0 100px;
}

.main__blog {
  padding: 100px 0 100px;
}

.main__info {
  padding: 100px 0 100px;
}

.main__questions {
  padding: 100px 0 100px;
}

.button {
  display: inline-block;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  color: #fff;
  font-weight: 700;
  line-height: 52px;
  padding: 0 40px;
  letter-spacing: 0.5px;
  border-radius: 4px;
  transition: all .3s;
  white-space: nowrap;
}

.button:hover {
  transform: scale(1.03);
}

.heading__subtitle {
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.heading__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}


.heading {
  color: #1E212C;
}

.heading--text-center {
  text-align: center;
}

.logo {}

/* ----------------------<<<Header-top>>>--------------------------- */
/* ----------------------<<<Header-top>>>--------------------------- */
/* ----------------------<<<Header-top>>>--------------------------- */

.header {
  height: 100vh;
  min-height: 600px;
  background: url("../images/decor/shapes-bg.svg") 50% 50% / cover no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, .2) 0%, rgba(247, 94, 5, .2) 100%);
  display: flex;
  flex-direction: column;
}

.header__top {}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  padding: 20px 0;
}

.header__logo {
  margin-right: 60px;
}

.header__nav {
  margin-right: auto;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  line-height: 1.6;
  margin-right: 40px;
  transition: color .3s;
}

.header__nav-item:hover {
  color: #FF3F3A;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__link-nav {}

.header__user-nav {
  display: flex;
  align-items: center;
}

.header__top-btn {
  margin-right: 36px;
}


.header__btn-box {
  position: relative;
  padding-left: 28px;

}

.header__btn-box::before {
  content: "";
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  background: url("../images/icon/img-login.svg") no-repeat;
  display: block;
}

.header__btn {
  transition: color .3s;
}

.header__btn:hover {
  color: #FF3F3A;
}

/* --------------------------<<<Header-body>>>--------------------------- */
/* --------------------------<<<Header-body>>>--------------------------- */
/* --------------------------<<<Header-body>>>--------------------------- */

.header__body {
  flex-grow: 1;
}

.header__body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 0;
}

.header__content, .header__row {
  color: #1E212C;
}

.header__content {
  margin-right: 30px;
}

.header__play {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 24px;
}

.header__play svg {
  border-radius: 50%;
  margin-right: 16px;
  transition: all .3s;
}

.header__play:hover svg {
  box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.12);
}

.header__title {
  margin-bottom: 60px;
  max-width: 500px;
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 1px;
}

.button--empty {
  background-image: none;
  border-left: 2px solid #FF3F3A;
  border-right: 2px solid #F75E05;
  background-image: linear-gradient(to left, #F75E05, #FF3F3A), linear-gradient(to left, #F75E05, #FF3F3A);
  background-size: 100% 2px;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: padding-box;
}

.button--empty span {
  background: linear-gradient(to left, #FF3F3A, #F75E05);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.header__content-buttons {
  display: inline-flex;
}

.header__content-btn {
  margin-right: 24px;
}

.header__content-btn:last-child {
  margin-right: 0;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.header__row-item {
  display: flex;
  align-items: center;
  font-weight: 400;
}

.header__row-point {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 15px;
  border-radius: 50%;
  background: #FF3F3A;
}

.header__row-item>span {
  margin-right: 12px;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
}

/* --------------------------<<<Main-about>>>--------------------------- */
/* --------------------------<<<Main-about>>>--------------------------- */
/* --------------------------<<<Main-about>>>--------------------------- */

.main {}

.about {}

.about__inner {}

.about__createx {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 180px;
  position: relative;
}

.about__createx::before {
  content: "";
  position: absolute;
  top: -55px;
  right: -175px;
  width: 100px;
  height: 85px;
  background: url("../images/icon/shapes-1.svg") no-repeat;
}

.about__content {
  max-width: 600px;
  margin-right: 30px;
}

.about__heading {
  margin-bottom: 48px;
}

.about__text {
  margin-bottom: 60px;
}

.about__paragraph {
  margin-bottom: 24px;
}

.about__paragraph--accent {
  color: #1E212C;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

.about__paragraph:last-child {
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.6;
  font-size: 16px;
}

.about__btn-box {
  display: flex;
}

.about__btn {
  margin-right: 24px;
}

.about__btn:last-child {
  margin-right: 0;
}

.about__image {}

.about__values {
  display: flex;
  justify-content: space-between;
}

.about__image-box {
  border-radius: 4px;
  overflow: hidden;
}

.about__image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__image-numbers {}

.about__numbers {
  align-self: center;
  margin-left: 30px;
  white-space: nowrap;
}

.about__numbers span {
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 1px;
  color: #FF3F3A;
  margin-right: 16px;
}

.about__number {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.about__number:last-child {
  margin-bottom: 0;
}

/* --------------------------<<<Main-direction>>>--------------------------- */
/* --------------------------<<<Main-direction>>>--------------------------- */
/* --------------------------<<<Main-direction>>>--------------------------- */

.direction {}

.direction__inner {
  position: relative;
}

.direction__inner::before {
  content: "";
  top: 20px;
  left: -200px;
  position: absolute;
  display: block;
  width: 136px;
  height: 115px;
  background: url("../images/decor/group-shape.svg");
}

.direction__inner::after {
  content: "";
  top: 390px;
  right: -390px;
  position: absolute;
  display: block;
  width: 242px;
  height: 242px;
  background: url("../images/decor/circles.svg");
}

.direction__heading {
  margin-bottom: 90px;
}


.direction__main {}

.direction__filter-box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.direction__filter-item:not(:last-child) {
  margin: 0 45px 15px 0;
}



.direction__filter-btn {
  font-weight: 700;
  font-size: 16px;
  background: transparent;
  border: 1px solid #9A9CA5;
  border-radius: 4px;
  padding: 6px 8px;
  line-height: 1;
  color: #9A9CA5;
  white-space: nowrap;
}

.direction__filter-btn--active {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  padding: 6px 8px;
  line-height: 1;
  border: 1px solid #FF3F3A;
}

.direction__items {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  gap: 30px;
}

.direction__list-item {
  background: #FFFFFF;
  transition: all 1s;
}

.direction__list-item:hover {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  transition: all .5s;
}

.direction__list-item:hover .direction__list-btn {
  color: #FF3F3A;
  transition: all .5s;
}



.direction__list-link {}

.direction__image-box {
  overflow: hidden;
}

.direction__image-box img {
  width: 100%;
  height: 100%;
}

.direction__list-content {
  display: flex;
  flex-direction: column;
  border: 1px solid #E5E8ED;
  border-top: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 24px;
}

.direction__list-tag {
  align-self: flex-start;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  background: #979797;
  padding: 6px 8px;
  line-height: 1;
  border-radius: 4px;
}

.direction__list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
  margin: 20px 0;
}

.direction__list-btn {
  display: flex;
  transition: all 1s;
}

.direction__list-btn:after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 11px;
  background-image: url("../images/icon/right-arrow-red.svg");
}

.direction__list-item--marketing .direction__list-tag {
  background-color: #03CEA4;
}

.direction__list-item--managment .direction__list-tag {
  background-color: #5A87FC;
}

.direction__list-item--hr .direction__list-tag {
  background-color: #F89828;
}

.direction__list-item--design .direction__list-tag {
  background-color: #F52F6E;
}

.direction__list-item--development .direction__list-tag {
  background-color: #7772F1;
}

.direction__list--empty {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F4F5F7;
  border-radius: 4px;
}

.direction__list--empty span {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #424551;
  max-width: 240px;
}

/* --------------------------<<<Main-Cert>>>--------------------------- */
/* --------------------------<<<Main-Cert>>>--------------------------- */
/* --------------------------<<<Main-Cert>>>--------------------------- */


.cert {}

.cert__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.cert__inner::before {
  content: "";
  top: -20px;
  left: -170px;
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  background: url("../images/decor/shapes-arrow.svg");
}

.cert__content {
  max-width: 400px;
  margin-right: 30px;
}

.cert__heading {
  margin-bottom: 48px;
}

.cert__text {
  margin-bottom: 30px;
}

.cert__logos {
  display: flex;
}

.cert__item {
  margin-right: 40px;
}

.cert__item:last-child {
  margin-right: 0;
}

.cert__image-box {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}

.cert__image-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* --------------------------<<<Main-Team>>>--------------------------- */
/* --------------------------<<<Main-Team>>>--------------------------- */
/* --------------------------<<<Main-Team>>>--------------------------- */



.team {
  background: url("../images/decor/shapes-team-bg.svg") 90% 15% no-repeat #F4F5F7;
}

.team__inner {}

.team__heading {
  margin-bottom: 60px;
  position: relative;
}

.team__slider-arrows {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.team__slider-arrow {
  display: block;
  line-height: 0;
  border-radius: 50%;
  position: relative;
  transition: all .3s;
}

.team__slider-arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 48px;
  height: 48px;
  background-color: #FF3F3A;
  border-radius: 50%;
  z-index: -1;
  transition: all .5s;
}

.team__slider-arrow:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.team__slider-arrow path {
  transition: all .3s;
}

.team__slider-arrow:hover path {
  fill: #fff;
}

.team__slider-prev {
  margin-right: 24px;
}

.team__slider-next {}

.team__slider {}

.team__slider-inner {
  margin: 0 -15px;
}

.team__slider-item {
  padding: 0 15px;
}

.team__image-box {
  border-radius: 4px;
  margin-bottom: 16px;
  overflow: hidden;
  position: relative;
}

.team__socials {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
  transform: translateY(50%);
  transition: all .3s;
}

.team__slider-item:hover .team__socials {
  transform: translateY(0%);
}

.team__image {
  position: relative;
  height: 340px;
}

.team__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.team__social-item {
  display: block;
  line-height: 0;
  margin-right: 12px;
}

.team__social-item:hover path {
  fill: #fff;
}

.team__social-item path {
  transition: all .5s;
}

.team__social-item:last-child {
  margin-right: 0;
}

.team__info {
  text-align: center;
}

.team__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 5px;
}

.team__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787A80;
}

.team__dots .slick-dots {
  display: none;
}

/* --------------------------<<<Main-Testimonials>>>--------------------------- */
/* --------------------------<<<Main-Testimonials>>>--------------------------- */
/* --------------------------<<<Main-Testimonials>>>--------------------------- */


.testimonials {
  position: relative;
  background: #F4F5F7;
}

.testimonials::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -55%);
  background: url("../images/decor/testi-bg.svg");
  width: 1971px;
  height: 816px;
}

.testimonials__inner {
  position: relative;
  z-index: 1;
}

.testimonials__heading {
  margin-bottom: 60px;
}

.testimonials__slider-wrapper {
  position: relative;
  padding: 0 50px;
  margin-bottom: 50px;
}

.testimonials__slider {
  max-width: 1020px;
  margin: 0 auto;
}

.testimonials__slider-item {
  border-radius: 4px;
  background: #fff;
  padding: 64px;
}

.testimonials__slider-inner {
  max-width: 810px;
  margin: 0 auto;
}

.testimonials__user-text {
  padding-left: 58px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 24px;
  position: relative;
}

.testimonials__user-text::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 28px;
  height: 20px;
  background: url("../images/decor/braces.svg") 0 0 / 100% no-repeat;
}

.testimonials__user-info {
  display: flex;
  align-items: center;
  padding-left: 58px;
}

.testimonials__avatar {
  min-width: 72px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.testimonials__info {}

.testimonials__user-name {
  color: #1E212C;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 4px;
}

.testimonials__user-position {
  color: #787A80;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.testimonials__arrows {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  display: flex;
  align-items: center;
  z-index: 0;
}

.testimonials__arrows::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 48px;
  height: 48px;
  background-color: #FF3F3A;
  border-radius: 50%;
  z-index: -1;
  transition: all .5s;
}

.testimonials__arrows:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.testimonials__arrows path {
  transition: all .3s;
}

.testimonials__arrows:hover path {
  fill: #fff
}


.testimonials__prev {
  left: 25px;
}

.testimonials__prev svg {
  transform: translate(-50%, 0%);
}

.testimonials__next {
  right: -25px;
  justify-content: flex-end;
}

.testimonials__next svg {
  transform: translate(-150%, 0%);
}

/* .testimonials__dots {
  margin-top: 50px;
} */

.testimonials__dots .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials__dots li {
  margin-right: 12px;
}

.testimonials__dots li:last-child {
  margin-right: 0;
}

.testimonials__dots button {
  font-size: 0;
  background-color: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}

.testimonials__dots button::before {
  content: "";
  height: 3px;
  width: 100%;
  border-radius: 3px;
  background-color: #B3B7BC;
}

.testimonials__dots .slick-active button::before {
  background-color: #424551;
  transition: all .5s;
}

/* --------------------------<<<Main-Companies>>>--------------------------- */
/* --------------------------<<<Main-Companies>>>--------------------------- */
/* --------------------------<<<Main-Companies>>>--------------------------- */


.companies {
  background: #F4F5F7;
  position: relative;
}

.companies::before {
  content: "";
  position: absolute;
  bottom: 15%;
  left: 20%;
  transform: translate(-180%, 20%);
  background: url("../images/decor/comp-shapes.svg");
  width: 90px;
  height: 90px;
}

.companies__inner {}

.companies__heading {
  margin-bottom: 60px;
}

.companies__grid {
  display: grid;
  grid-template: repeat(2, auto) / repeat(6, 1fr);
  gap: 40px 5%;
}

.companies__grid-item {
  filter: opacity(40%) invert(60%);
  display: block;
  text-align: center;
  transition: all 10s;
}

.companies__grid-item:hover {
  filter: opacity(100%) invert(0%);
  transition: all .5s;
}

.companies__grid-link {
  display: block;
}

/* --------------------------<<<Main-Program>>>--------------------------- */
/* --------------------------<<<Main-Program>>>--------------------------- */
/* --------------------------<<<Main-Program>>>--------------------------- */


.program {}

.program__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.program__content {
  max-width: 600px;
  margin-right: 30px;
}

.program__heading {
  margin-bottom: 60px;
}

.program__acc {}

.program__acc-item {
  margin-bottom: 24px;
}

.program__acc-link {
  padding-left: 40px;
  display: block;
}

.program__acc-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  position: relative;
  white-space: nowrap;
}

.program__acc-head span {
  color: #FF3F3A;
  font-weight: 400;
  margin-right: 8px;
}

.program__acc-head::before, .program__acc-head::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -40px;
  width: 18px;
  height: 2px;
  border-radius: 2px;
  background-color: #FF3F3A;
}

.program__acc-head::after {
  transform: rotate(90deg);
  transition: all .3s;
}

.program__acc-link--active .program__acc-head::after {
  transform: rotate(0);
}


.program__acc-text {
  margin-top: 16px;
  font-weight: 400;
  color: #424551;
}

.program__image img {
  width: 100%;
  height: 100%;
}


/* --------------------------<<<Main-Blog>>>--------------------------- */
/* --------------------------<<<Main-Blog>>>--------------------------- */
/* --------------------------<<<Main-Blog>>>--------------------------- */


.blog {}

.blog__inner {}

.blog__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
}

.blog__heading {
  margin-right: 30px;
}

.blog__btn {}

.blog__list {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}

.blog__item {
  padding: 0 15px;
}

.blog__item-link {
  transition: all .5s;
}


.blog__item-inner {}

.blog__image-box {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 16px;
}

.blog__image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog__image-box span {
  content: "";
  display: flex;
  align-items: center;
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 1px 8px;
  border-radius: 4px;
  background-color: #fff;
}

.blog__image-box span::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.blog__item--podcast .blog__image-box span::before {
  background: url("../images/icon/podcast.svg");
}

.blog__item--video .blog__image-box span::before {
  background: url("../images/icon/video.svg");
}

.blog__item--article .blog__image-box span::before {
  background: url("../images/icon/article.svg");
}

.blog__content {}

.blog__info {
  display: flex;
  align-items: center;
  margin: 0 -12px;
  margin-bottom: 8px;
}

.blog__info-el {
  padding: 0 12px;
  position: relative;
  color: #787A80;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.blog__info-el::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background-color: #787A80;
}

.blog__info-el:last-child::after {
  content: none;
}

.blog__info-date {
  display: flex;
  align-items: center;
}

.blog__info-date::before {
  content: "";
  display: block;
  width: 16px;
  height: 17px;
  margin-right: 8px;
  background: url("../images/icon/calendar.svg") 0 0 / 100% no-repeat;
}

.blog__info-time {
  display: flex;
  align-items: center;
}

.blog__info-time::before {
  content: "";
  display: block;
  width: 16px;
  height: 17px;
  margin-right: 8px;
  background: url("../images/icon/clock.svg") 0 0 / 100% no-repeat;
}

.blog__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 8px;
}

.blog__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 16px;
  color: #424551;
}

.blog__item-btn {
  display: flex;
  align-items: center;
  transition: all 1.5s;
}

.blog__item:hover .blog__item-btn {
  color: #FF3F3A;
  transition: all .5s;
}

.blog__item-btn::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 8px;
  background: url("../images/icon/right-arrow-red.svg") 0 0 / 100% no-repeat;
}

/* --------------------------<<<Main-Info>>>--------------------------- */
/* --------------------------<<<Main-Info>>>--------------------------- */
/* --------------------------<<<Main-Info>>>--------------------------- */


.info {}

.info__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.info__content {
  margin-right: 30px;
}

.info__heading {
  margin-bottom: 40px;
}

.info__contacts {
  padding-left: 36px;
  margin-bottom: 48px;
}

.info__cont-item:not(:last-child) {
  margin-bottom: 24px;
}

.info__cont-head {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #787A80;
  position: relative;
}

.info__cont-head::before {
  content: "";
  position: absolute;
  top: 0;
  left: -36px;
  width: 24px;
  height: 24px;
}

.info__cont-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  transition: all 2s;
}

.info__cont-link:hover {
  color: #FF3F3A;
  transition: all .5s;

}

.item__email .info__cont-head::before {
  background: url("../images/icon/chat.svg");
}

.item__tel .info__cont-head::before {
  background: url("../images/icon/iphone.svg");
}

.item__address .info__cont-head::before {
  background: url("../images/icon/outline.svg");
}

.info__address {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.info__follow {}

.info__follow-top {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.info__socials {
  display: flex;
  line-height: 0;
}

.info__socials-item:not(:last-child) {
  margin-right: 32px;
}

.info__socials-link {
  display: block;
}

.info__socials-link path {
  transition: all .5s;
}

.info__socials-link:hover path {
  fill: #022bc2;
}

.social__yt .info__socials-link:hover path {
  fill: #ed1111;
}

.info__map {
  width: 100%;
  max-width: 702px;
  height: 400px;
}

.info__map iframe {
  border-radius: 4px;
}


/* --------------------------<<<Main-Questions>>>--------------------------- */
/* --------------------------<<<Main-Questions>>>--------------------------- */
/* --------------------------<<<Main-Questions>>>--------------------------- */


.questions {}

.questions__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questions__image {}

.questions__content {
  margin-left: 30px;
}

.questions__heading {
  margin-bottom: 40px;
}

.questions__form {}

.questions__form-row {
  display: flex;
  margin-bottom: 24px;
}

.questions__form-row:last-child {
  margin-bottom: 0;
}

.questions__input-label {
  margin-right: 25px;
  flex: 1 1 auto;
}

.questions__input-label:last-child {
  margin-right: 0;
}

.questions__text-label {
  display: block;
  margin-bottom: 50px;
}

.questions__form-input, .questions__form-text {
  border: 1px solid #D7DADD;
  border-radius: 4px;
  padding: 13px 16px;
  display: block;
  width: 100%;
  margin-top: 8px;
}

.questions__form-input::placeholder, .questions__form-text::placeholder {
  color: #9A9CA5;
  ;
}

.questions__form-text {
  resize: none;
  height: 128px;
}

.questions__checkbox-label {
  display: flex;
  width: 100%;
  margin-right: 50px;
}

.questions__form-checkbox {
  position: relative;
  width: 16px;
  height: 16px;
  flex: 0 0 auto;
  margin: 5px 12px 0 0;
}

.questions__form-default {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.questions__form-custom {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid #424551;
  border-radius: 3px;
  cursor: pointer;
}

.questions__form-default:checked+.questions__form-custom {
  background: url("../images/icon/check.svg") 50% 50% no-repeat, #FF3F3A;
  border: 1px solid #FF3F3A;
}

.questions__form-btn {
  text-align: center;
  align-self: center;
  font-size: 16px;
  width: 100%;
}

/* --------------------------<<<FOOTER>>>--------------------------- */
/* --------------------------<<<FOOTER>>>--------------------------- */
/* --------------------------<<<FOOTER>>>--------------------------- */

.footer {}

.footer__body {
  background-color: #1E212C;
  padding: 80px 0 60px;
  color: #fff
}

.footer__body-inner {
  display: flex;
  justify-content: space-between;
  padding: 0 -15px;
}

.footer__body-col {
  padding: 0 15px;
}

.footer__body-col:first-child {
  max-width: 310px;
}

.footer__body-col:last-child {
  max-width: 315px;
}


.footer__logo {
  display: block;
  margin-bottom: 24px;
}

.footer__body-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  opacity: .6;
  margin-bottom: 38px;
}

.footer__socials {
  display: flex;
}

.footer__social-item:not(:last-child) {
  margin-right: 20px;
}

.footer__social-item {
  line-height: 1;
}

.footer__social-link path {
  transition: all .5s;
}

.footer__social-link:hover path {
  fill: #fff;
}

.footer__body-title {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  white-space: nowrap;
}

.footer__body-col:last-child .footer__body-title {
  white-space: normal;
}

.footer__body-list {}

.footer__body-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer__body-item {}

.footer__item-link {
  font-weight: 400;
  opacity: .6;
  transition: all .5s;
  white-space: nowrap;
}

.footer__item-link:hover {
  opacity: 1;
}

.footer__form {}

.footer__form-items {
  display: flex;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  margin-bottom: 12px;
}

.footer__form-input {
  color: #fff;
  display: block;
  padding: 9px 0 9px 12px;
  width: 100%;
  background-color: transparent;
}

.footer__form-btn {
  background-color: transparent;
  padding: 10px 12px;
}

.footer__form-btn::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url("../images/icon/foot-arrow-left.svg");
  transition: all .5s;
}

.footer__form-btn:hover::before {
  transform: scale(1.2);
}

.footer__form-desc {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  opacity: .6;
}

.footer__bottom {
  padding: 20px 0;
  background-color: #303340;
}

.footer__bottom-inner {
  display: flex;
}

.footer__copy {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  opacity: 0.6;
  color: #FFFFFF;
}

.footer__copy span::before {
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  background: url("../images/icon/heart.svg") 0 0 / 100% no-repeat;
}

.footer__copy span {
  padding: 0 4px;
}

.footer__go-top {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  opacity: 0.6;
  margin-left: auto;
  transition: all .5s;
}

.footer__go-top:hover {
  opacity: 1;
}

/* --------------------------<<<MEDIA>>>--------------------------- */
/* --------------------------<<<MEDIA>>>--------------------------- */
/* --------------------------<<<MEDIA>>>--------------------------- */
/* --------------------------<<<1200>>>--------------------------- */
@media (max-width: 1200px) {
  .header__title {
    max-width: 400px;
    font-size: 50px;
  }

  .header__image {
    max-width: 500px;
  }

  /* ========================================== */
  .about__content {
    max-width: 500px;
  }

  .heading__title {
    font-size: 40px;
  }

  /* ========================================== */

}

/* --------------------------<<<1100>>>--------------------------- */
@media (max-width: 1100px) {
  .header {
    padding-top: 92px;
  }

  .burger {
    display: flex;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 60px;
    height: 60px;
    z-index: 150;
    border-radius: 50%;
    transition: all .5s;
  }

  .burger--follow {
    top: 15px;
    right: 15px;
    background-color: rgba(255, 63, 58, 0.9);
    box-shadow: 0px 0px 8px 4px #878787;
  }

  .burger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #424551;
    border-radius: 4px;
    margin: 4px 0;
  }

  .burger::before, .burger::after {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background-color: #424551;
    border-radius: 4px;
    transition: all .3s;
  }

  .burger--active::before {
    position: absolute;
    transform: rotate(45deg);
    top: 30px;
  }

  .burger--active::after {
    position: absolute;
    transform: rotate(-45deg);
    bottom: 26px;
  }

  .burger--active span {
    display: none;
  }

  .header__top {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 100;
    min-width: 320px;
    transform: translateX(100%);
    transition: all .5s;
  }

  .header__top--open {
    transform: translateX(0%);
  }

  .header__top-inner {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px 0;
    overflow: auto;
  }

  .header__logo,
  .header__nav-item,
  .header__top-btn,
  .header__btn-box {
    margin: 0;
  }

  .header__nav {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .header__nav-list {
    display: block;
  }

  .header__nav-item {
    cursor: pointer;
    padding: 15px;
  }

  .header__user-nav {
    flex-direction: column-reverse;
  }

  .header__top-btn {}

  .header__btn-box {
    margin-bottom: 20px;
  }

  /* =================================================== */
  .header__image {
    max-width: 450px;
  }

  .header__row {
    display: none;
  }

  /* =================================================== */
  .about__content {
    max-width: 440px;
  }

  .heading__title {
    font-size: 35px;
  }

  .about__text {
    font-size: inherit;
  }

  .about__image {
    max-width: 420px;
  }

  .about__values {
    flex-direction: column;
  }

  .about__image-box {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .about__image-numbers {
    max-width: 850px;
  }

  /* ========================================== */
  .direction__heading {
    margin-bottom: 50px;
  }

  .direction__items {
    gap: 30px 15px;
  }

  .direction__list-content {
    padding: 24px 10px 10px;
  }

  /* ========================================== */
  .cert__inner {
    flex-direction: column;
    align-items: center;
  }

  .cert__content {
    margin: 0 0 30px;
  }

  .cert__heading {
    text-align: center;
  }

  /* ========================================== */
  .companies__grid {
    grid-template: repeat(3, auto) / repeat(4, 1fr);
  }

  /* ========================================== */
  .program__inner {
    position: relative;
    z-index: 1;
    overflow: hidden;
    justify-content: center;
  }

  .program__inner::before {
    content: url("../images/image/illustration-accordeon.svg");
    z-index: -1;
    position: absolute;
    top: 0;
    left: 50px;
    opacity: .12;
  }

  .program__heading {
    text-align: center;
  }

  .program__content {
    margin: 0;
  }

  .program__image {
    display: none;
  }
}

/* --------------------------<<<950>>>--------------------------- */
@media (max-width: 950px) {
  .header__body-inner {
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  .header__body-inner::before {
    content: url("../images/image/illustration-girl-header.svg");
    z-index: -1;
    position: absolute;
    top: 0;
    left: 50px;
    opacity: .12;
  }

  .header__main {
    margin: 0 auto;
  }

  .header__content {
    margin: 16px 0 0;
  }

  .header__image {
    display: none;
  }

  /* ================================================= */
  .about__createx {
    position: relative;
    z-index: 1;
    overflow: hidden;
    justify-content: center;
    margin-bottom: 80px;
  }

  .about__createx::before {
    content: url("../images/image/illustration-body.svg");
    z-index: -1;
    position: absolute;
    top: 0;
    left: 100px;
    opacity: .12;
  }

  .about__content {
    margin: 0;
  }

  .about__image {
    display: none;
  }

  .about__image-numbers {
    display: none;
  }

  .about__values {
    position: relative;
    z-index: 1;
    overflow: hidden;
    justify-content: center;
  }

  .about__values::before {
    content: url("../images/image/image.jpg");
    z-index: -1;
    position: absolute;
    top: 0;
    left: -85px;
    opacity: .12;
  }

  /* ========================================== */

  .direction__filter-item:not(:last-child) {
    margin-right: 15px;
  }

  .direction__items {
    grid-template: repeat(3, auto) / repeat(2, 1fr);
  }

  /* ========================================== */

  .testimonials__slider-wrapper {
    padding: 0;
    margin-bottom: 20px;
  }

  .testimonials__slider-item {
    padding: 30px 15px;
  }

  .testimonials__arrows {
    display: none;
  }
}

/* --------------------------<<<700>>>--------------------------- */
@media (max-width: 700px) {
  .heading {
    margin-bottom: 40px;
  }

  .about__text {
    margin-bottom: 30px;
  }

  /* ===================================== */
  .testimonials__user-text {
    font-size: inherit;
  }

  .testimonials__user-text {
    padding-left: 30px;
  }

  .testimonials__user-text::before {
    width: 20px;
  }

  .testimonials__user-info {
    padding-left: 30px;
  }

  /* ===================================== */
  .companies__grid {
    grid-template: repeat(4, auto) / repeat(3, 1fr);
  }

  /* ===================================== */
  .program__acc-head {
    font-size: inherit;
  }
}

/* --------------------------<<<550>>>--------------------------- */
@media (max-width: 550px) {
  .header__play {
    width: 100%;
    justify-content: center;
  }

  .header__title {
    text-align: center;
  }

  .header__content-buttons {
    width: 100%;
    justify-content: center;
  }

  .about__createx {
    margin-bottom: 60px;
  }

  .heading {
    text-align: center;
    margin-bottom: 30px;
  }

  .heading__subtitle {
    font-size: 12px;
    margin: 0;
  }

  .heading__title {
    font-size: 30px;
  }

  .about__text {
    max-width: 370px;
    margin-bottom: 30px;
  }

  .about__paragraph {
    font-size: inherit;
  }

  .about__btn-box {
    min-height: 134px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .about__btn {
    width: 80%;
    text-align: center;
    margin: 0;
  }

  .about__number span {
    font-size: 40px;
  }

  /* ========================================== */
  .direction__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .direction__filter-box {
    width: 90%;
  }

  .direction__items {
    width: 90%;
    grid-template: none;
  }

  .direction__list--empty {
    display: none;
  }

  /* ========================================== */
  .cert__text {
    text-align: center;
  }

  .cert__logos {
    flex-direction: column;
    align-items: center;
  }

  .cert__item {
    margin: 0 0 10px;
  }

  /* ========================================== */
  .team__slider-arrows {
    display: none;
  }

  .team__image-box {
    max-width: 300px;
    margin: 0 auto 16px;
  }

  .team__dots {
    margin-top: 15px;
  }

  .team__dots .slick-dots {
    display: flex;
    justify-content: center;
  }

  .team__dots li:not(:last-child) {
    margin-right: 15px;
  }

  .team__dots button {
    font-size: 0;
    background-color: transparent;
    width: 15px;
    height: 30px;
    display: flex;
    align-items: center;
  }

  .team__dots button::before {
    content: "";
    width: 100%;
    height: 50%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.105);
  }

  .team__dots .slick-active button::before {
    background-color: rgba(215, 186, 23, 0.71);
    transition: all .5s;
  }

  /* ========================================== */
  .testimonials__dots li:not(:last-child) {
    margin-right: 15px;
  }

  .testimonials__dots button {
    font-size: 0;
    background-color: transparent;
    width: 15px;
    height: 30px;
    display: flex;
    align-items: center;
  }

  .testimonials__dots button::before {
    content: "";
    width: 100%;
    height: 50%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.105);
  }

  .testimonials__dots .slick-active button::before {
    background-color: rgba(215, 186, 23, 0.71);
    transition: all .5s;
  }

  /* ========================================== */
  .companies__grid {
    grid-template: repeat(6, auto) / repeat(2, 1fr);
  }

  /* ========================================== */
  .program__acc-head {
    white-space: normal;
  }
}

/* --------------------------<<<425>>>--------------------------- */
@media (max-width: 425px) {
  .header__top {
    min-width: none;
    left: 0;
  }

  /* ================================ */
  .header__body-inner::before {
    content: "";
  }

  .header__content {
    margin: 16px 0 0;
  }

  .header__title {
    max-width: 360px;
    font-size: 40px;
    margin-bottom: 30px;
  }

  .header__content-buttons {
    min-height: 134px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .header__content-btn {
    width: 80%;
    text-align: center;
    margin: 0;
  }

  /* =========================================== */
  .about__createx::before {
    content: "";
  }

  .about__paragraph {
    max-width: 300px;
  }

  .about__values::before {
    content: "";
  }

  /* ========================================== */

  .program__inner::before {
    content: "";
  }
}