.block {
  width: 800px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  font-family: "LobsterTwo", serif;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  background-color: #888888;
  margin: 50px auto;
  /* ---------------------------------------------------- */
  animation-name: text-red-black;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-out;
}

@keyframes text-red-black {
  0% {
    color: rgb(143, 4, 4);
  }
  100% {
    color: #000000;
  }
}